{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список експонатів</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/collections.css' %}">
    <style>
        .exhibits{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            align-items: center;
            justify-content: space-around;
        }
        .exhibit-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            width: 300px;
        }
        .exhibit-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
 <div class="block1">
        <header>
            <div class="logo">
                <img src="{% static 'assets/logo 1.png' %}" alt="">
            </div>
            <div class="label_mus">
                The Vatican Museum
            </div>
            <div class="head_but">
                <div class="ticket"><p>Book tickets</p></div>
                <div class="store">Store</div>
            </div>
        </header>
        <div class="linef">
            <img src="../static/assets/lineBook.png" alt="">
        </div>
        <nav class="menunav">
            <ul>
                <li><a href="#">Visit</a></li>
                <li><a href="#">Collections</a></li>
                <li><a href="#">What's on</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="clear"></div>
    <div class="block2">
    <div class="exhibits">
        {% for exhibit in exhibits %}
            <div class="exhibit-card">
                <h2>{{ exhibit.title }}</h2>
                <a href="/exhibit_detail/{{ exhibit.exhibit_code }}">
                    <img src="{{ exhibit.photo.url }}" alt="{{ exhibit.title }}" class="exhibit-image">
                </a>
                <p><strong>Автор:</strong> {{ exhibit.creator_name }}</p>
                <p><strong>Опис:</strong> {{ exhibit.description }}</p>
            </div>
        {% endfor %}
    </div>
    </div>

<!-- Footer -->
    <div class="foot">
        <h2>See you at the museum!</h2>
    </div>
    <footer>
        <div class="linefot">
            <img src="../static/assets/line.png" alt="">
        </div>
        <div class="socm">
            <img src="../static/assets/social media.png" alt="">
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.exhibits').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
            prevArrow: '<button type="button" class="slick-prev">Previous</button>',
            nextArrow: '<button type="button" class="slick-next">Next</button>',
        });
    });
</script>
</body>
</html>

