body{
    background-color: black;
    margin: 0;
    padding: 0%;
    color: white;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
    flex: 1;
}

.label_mus{
    font-size: 40px;
    text-align: center;
    padding-left: 130px;
}

.head_but{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.linef{
    display: block;
    padding-top: 30px;
    min-width: 1219px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menunav{
    margin-top: 30px;
}

.menunav a{
    text-decoration: none;
    color: white;
    font-size: 32px;
}
.menunav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 178px;
}

.head_but{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.ticket {
    width: 161px;
    height: 65px;
    background-color: #CB6666;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket p {
    text-align: center;
    margin: 0;
}


.pictback{
    width: 100%;
    height: 479px;
    background-image: url("../assets/visitpicture.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.org_lab{
    margin-left: 120px;
}

.org_lab h1{
    font-size: 64px;
}

.org_lab p{
    font-size: 40px;
}

.list_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    font-size: 30px;
}

.list_menu a{
    text-decoration: none;
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;

 } 

.parent h3{
    font-size: 32px;
}
.parent p{
    font-size: 16px;
}
.div1 { grid-area: 1 / 1 / 2 / 2;
        background-color: #737373;
}
.div2 { grid-area: 1 / 2 / 2 / 3; 
        background-color: #6F7E47;
}
.div3 { grid-area: 1 / 3 / 2 / 4; 
        background-color: #3C8089;
}
.div4 { grid-area: 1 / 4 / 2 / 5;
        background-color: #033170;
    }
.div5 { grid-area: 2 / 1 / 3 / 2;
    background-color: #033170;
}
.div6 { grid-area: 2 / 2 / 3 / 3;
    background-color: #3C8089;
}
.div7 { grid-area: 2 / 3 / 3 / 4;
    background-color: #6F7E47;
}
.div8 { grid-area: 2 / 4 / 3 / 5;
    background-color: #737373;
}

.parent>div{
    height: 250px;
    padding-top: 70px;
}

.block4{
    width: 100%;
    max-height: 1024px;
}

.lavel h2{
    text-align: center;
    font-size: 64px;
}
.lavel p{
    text-align: center;
    font-size: 24px;
}


.foot{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.socm{
    padding-top: 30px;
    padding-bottom: 20px;
}

.clear{
    clear: both;
    padding-bottom: 50px;
    background-color: #000000;
}


.block3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.guidedticket  {
    padding-right: 450px;
}

.entryticket  {
    padding-left: 450px;
}

.hoursblock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.first,  .second{
    background-color: #282D35;
    display: flex;
    flex-direction: column;
    width: 627px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.laf{
    font-size: 48px;
    text-align: center;
}