.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socm{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.iconContainer {
    display: inline-block;
    position: relative;
}

.iconContainer a:hover svg {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
